
table, th, td {
  align-items: center;
  border: 2px solid black;
  text-align: center;
}


table {
  background-color: #DFF5FF;
  width:500px;
}

.header {
  background-color: #67C6E3;
}

.today-month {
  color:#DFF5FF;
  background-color: #5356FF;
}

.pre-month {
  background-color:#DFF5FF;
}

.month-header {
  background-color:#378CE7;
}
.future-month {
  background-color:#DFF5FF;
}


